<footer>
  <div class="copyright">
    &copy; {{ currentYear }} Crunchyroll. Todos los derechos reservados
  </div>
  <div class="links">
    <a href="/politica-de-privacidad">Política de Privacidad</a> |
    <a href="/terminos-y-condiciones">Términos y Condiciones</a>
  </div>
  <div class="updated">
  </div>
  <div class="contact">
    Para obtener permisos o consultas, comuníquese con <a href="mailto:contacto@example.com">contacto@example.com</a>.
  </div>
  <div class="disclaimer">
    Tenga en cuenta que la información proporcionada en este sitio web es solo para fines educativos y no constituye asesoramiento legal.
  </div>
</footer>
