<header>
  <div class="header-content">
    <div class="logo">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Crunchyroll.svg/2560px-Crunchyroll.svg.png" alt="Logo de tu sitio">
    </div>
    <nav>
      <ul>
        <li><button routerLink="/inicio" class="header-button">Inicio</button></li>
        <li><button routerLink="/animes" class="header-button">Animes</button></li>
        <li><button routerLink="/suscripciones" class="header-button">Suscripciones</button></li>
      </ul>
    </nav>
  </div>
</header>
