<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<section class="nosotros" id="nosotros">
  <h1>~ TEAM MEAMBERS ~</h1>
  <h3>Conoce un poco sobre los integrantes de nuestra startup Crunchyroll</h3>
  <div class="nosotros-container">
    <div class="nosotros-card">
      <img src="https://us.123rf.com/450wm/yupiramos/yupiramos1608/yupiramos160819017/61416478-avatar-cabeza-masculina-perfil-icono-persona-social-sitio-web-miembro-ilustraci%C3%B3n-vectorial.jpg?ver=6" alt="Josehp" />
      <h3>Josehp Piero Herrera Del Pino</h3>
      <p>
        Estudiante de Ing Software decidí estudiar ingeniería de software
        porque creo que esta carrera me brinda la oportunidad de marcar una
        diferencia en el mundo a través del desarrollo.
      </p>
      <div class="redes-sociales">
        <a ><i class="fab fa-facebook"></i></a>
        <a ><i class="fab fa-twitter"></i></a>
        <a ><i class="fab fa-instagram"></i></a>
        <a ><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div class="nosotros-card">
      <img src="https://us.123rf.com/450wm/yupiramos/yupiramos1608/yupiramos160819017/61416478-avatar-cabeza-masculina-perfil-icono-persona-social-sitio-web-miembro-ilustraci%C3%B3n-vectorial.jpg?ver=6" alt="Randy" />
      <h3>Randy Becker Rengifo Mirabal</h3>
      <p>
        Estudiante de Ing Software me apasiona todo lo relacionado a la
        tecnología, los avances tecnológicos y los procesos de arquitectura
        para el desarrollo de software.
      </p>
      <div class="redes-sociales">
        <a ><i class="fab fa-facebook"></i></a>
        <a ><i class="fab fa-twitter"></i></a>
        <a ><i class="fab fa-instagram"></i></a>
        <a ><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div class="nosotros-card">
      <img src="https://us.123rf.com/450wm/yupiramos/yupiramos1608/yupiramos160819017/61416478-avatar-cabeza-masculina-perfil-icono-persona-social-sitio-web-miembro-ilustraci%C3%B3n-vectorial.jpg?ver=6" alt="Tomas" />
      <h3>Tomas Alonso Pastor Salazar</h3>
      <p>
        Estudiante de Ing Software me gustó la carrera porque siempre quería
        saber sobre cómo funcionaban las computadoras, teléfonos, todos los
        aparatos electrónicos
      </p>
      <div class="redes-sociales">
        <a ><i class="fab fa-facebook"></i></a>
        <a ><i class="fab fa-twitter"></i></a>
        <a ><i class="fab fa-instagram"></i></a>
        <a ><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
      </div>
</section>
