<section class="suscripciones" id="suscripciones">
  <h1>Elige la suscripción que mejor se adapte a ti</h1>
  <div class="suscripciones-container">
    <div class="suscripciones-card">
      <h3>Free</h3>
      <p>Acceso limitado a contenido gratuito</p>
      <div class="ventajas">
        <ul>
          <li>Acceso a contenido gratuito.</li>
          <li>Actualizaciones periódicas de contenido.</li>
          <li>Acceso a trailers y avances.</li>
          <li>Opción de crear una lista de seguimiento.</li>
          <li>Notificaciones de nuevos lanzamientos.</li>
        </ul>
      </div>
      <div class="precio">$0/mes</div>
      <a class="btn-suscripcion">Elegir</a>
    </div>
    <div class="suscripciones-card efecto-sobresalir">
      <h3>Mensual</h3>
      <p>Acceso ilimitado a contenido premium</p>
      <div class="ventajas">
        <ul>
          <li>Acceso ilimitado a todo el contenido.</li>
          <li>Calidad de streaming en alta definición.</li>
          <li>Descargas disponibles para ver sin conexión.</li>
          <li>Acceso a contenido exclusivo.</li>
          <li>Soporte al cliente premium.</li>
        </ul>
      </div>
      <div class="precio">$10/mes</div>
      <a class="btn-suscripcion">Elegir</a>
    </div>
    <div class="suscripciones-card">
      <h3>Anual</h3>
      <p>Acceso ilimitado durante todo el año</p>
      <div class="ventajas">
        <ul>
          <li>Acceso durante todo el año sin interrupciones.</li>
          <li>Calidad de streaming en ultra alta definición.</li>
          <li>Descargas ilimitadas para ver sin conexión.</li>
          <li>Acceso prioritario a lanzamientos.</li>
          <li>Soporte 24/7 y asistencia personalizada.</li>
        </ul>
      </div>
      <div class="precio">$100/año</div>
      <a class="btn-suscripcion">Elegir</a>
    </div>
  </div>
</section>
