<section id="contacto" class="contacto">
  <div class="formulario_contacto">
    <h2 class="tituloFormulario">~ Mándanos tu duda ~</h2>
    <p class="descripcionFormulario">
      Si tienes alguna pregunta o sugerencia sobre nuestra plataforma
      de streaming, ¡escríbenos!
    </p>
    <input
      type="text"
      name=""
      id="nombre"
      class="input"
      placeholder="   Nombre"
    />
    <input
      type="email"
      name=""
      id="email"
      class="input"
      placeholder="   Email"
    />
    <textarea
      name=""
      id="mensaje"
      cols="30"
      rows="10"
      class="input"
      placeholder="   Ingresa tu mensaje aquí"
    ></textarea>
    <button class="btn_EnviarFormulario">Enviar Mensaje</button>
  </div>
</section>
