<section class="home" id="inicio">
  <div class="home__container">
    <div class="home__data">
      <h1 class="home__description">
        Bienvenidos colega
        <span>¡Unete ya!</span>
      </h1>
      <p>
        Entra en el mundo de Crunchyroll y descubre un universo lleno de entretenimiento y emoción. Nuestra plataforma te ofrece la oportunidad de explorar un vasto catálogo de anime y contenido asiático de la más alta calidad. Con miles de series y películas disponibles, Crunchyroll es tu portal hacia una experiencia de entretenimiento única y apasionante.
      </p>
      <a  class="home__button" routerLink="/animes"> Ver Animes </a >
    </div>
  </div>
</section>
